################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
bin
obj
*.user
*.suo
/TestClient/.vs/TestClient/DesignTimeBuild/.dtbcache.v2
/TestClient/.vs/TestClient/v17/.futdcache.v1
